<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="launamgoc.halfoflove">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.EditDetailActivity" />
        <activity android:name=".activity.EditProfileActivity" />
        <activity android:name=".activity.ForgotPasswordActivity"/>
        <activity android:name=".activity.RelationshipActivity" />
        <activity android:name=".activity.RenewPasswordActivity" />
        <activity android:name="launamgoc.halfoflove.activity.FriendTimelineActivity" />
        <activity android:name="launamgoc.halfoflove.activity.ChatActivity" />
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name="launamgoc.halfoflove.activity.UpdateEventActivity" />
        <activity android:name="launamgoc.halfoflove.activity.EventInformationActivity" />
        <activity android:name=".activity.TimelineActivity">

        </activity>
        <activity android:name=".activity.NewFeedTabActivity">

        </activity>
        <activity android:name=".activity.ChatListTabActivity" />
        <activity android:name=".activity.SettingsTabActivity" />
        <activity android:name=".activity.SearchActivity">

        </activity>
    </application>

</manifest>